<!DOCTYPE html>
<html lang="en">
<head>
  <title>米思米中国人才教育培训工程</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body onload="initPage()">
<div class="container-fluid">
  <div class="container" height="50">
    <ul class="nav nav-tabs">
      <li><a href="first_page.html"><img src="https://www.misumi.co.jp/assets/img/common/logo_sp.svg" class="img-thumbnail" alt="Home page" width="150"></a></li>
      <li><a href="#">培训基本方针</a></li>
      <li><a href="#">活动和实施计划</a></li>
      <li class="active"><a href="#">课程一览</a></li>
      <li><a href="news_internal.html">社内报</a></li>
      <li><a href="login.html">登陆</a></li>
    </ul>
    <br>
    <div class="row">
      <div class="col-sm-3" style="background-color:lavender;" id="stat_info">
        <h4>培训质量总评价</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>项目</th>
              <th style="text-align: right">数据</th>
            </tr>
          </thead>
          <tbody id="stat_comments"></tbody>
        </table>
        <h4>培训讲座统计</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>项目</th>
              <th style="text-align: right">数据</th>
            </tr>
          </thead>
          <tbody id="stat_total"></tbody>
        </table>
      </div>
      <div class="col-sm-9" style="background-color:lavenderblush;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>课程名称</th>
              <th>讲师</th>
              <th>培训日期</th>
            </tr>
          </thead>
          <tbody id="lessonsRecently"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
function displayLessons(data){
  var tableles = document.getElementById("lessonsRecently");
  for (i = 0; i < data.lessons.length; i++){
    var newRow = document.createElement("tr");
    var cellItem1 = document.createElement("td");
    cellItem1.innerHTML = data.lessons[i].title;
    newRow.appendChild(cellItem1);
    //newRow.appendChild(document.createElement("td", { innerHTML : data.lessons[i].teacher }));
    var cellItem2 = document.createElement("td");
    cellItem2.innerHTML = data.lessons[i].teacher;
    newRow.appendChild(cellItem2);
    //newRow.appendChild(document.createElement("td", { innerHTML : data.lessons[i].date }));
    var cellItem3 = document.createElement("td");
    cellItem3.innerHTML = data.lessons[i].date;
    newRow.appendChild(cellItem3);
    tableles.appendChild(newRow);
  }
}

function displayStat(data){
  var tableCmt = document.getElementById("stat_comments");
  for (i = 0; i < data.stat_comments.length; i++){
    var newRow = document.createElement("tr");
    var cellItem = document.createElement("td");
    cellItem.innerHTML = data.stat_comments[i].item;
    var cellValue = document.createElement("td");
    cellValue.setAttribute("style", "text-align: right");
    cellValue.innerHTML = data.stat_comments[i].value;
    newRow.appendChild(cellItem);
    newRow.appendChild(cellValue);
    tableCmt.appendChild(newRow);
  }

  var tableTtl = document.getElementById("stat_total");
  for (i = 0; i < data.stat_total.length; i++){
    var newRow = document.createElement("tr");
    var cellItem = document.createElement("td");
    cellItem.innerHTML = data.stat_total[i].item;
    var cellValue = document.createElement("td");
    cellValue.setAttribute("style", "text-align: right");
    cellValue.innerHTML = data.stat_total[i].value + data.stat_total[i].unit;
    newRow.appendChild(cellItem);
    newRow.appendChild(cellValue);
    tableTtl.appendChild(newRow);
  }
  
  var divInfo = document.getElementById("stat_info");
  var divRange = document.createElement("div");
  divRange.innerHTML = "#1 统计范围：" + data.rangeDuring;
  var divUpdate = document.createElement("div");
  divUpdate.innerHTML = "#2 更新时间：" + data.updatedAt;
  divInfo.appendChild(divRange);
  divInfo.appendChild(divUpdate);
}

function initPage(){
// load data!
  var cmts = JSON.parse('{"stat_comments":[{"item":"学员对培训内容平均理解程度", "value":"4.815"},{"item":"学员对讲师的平均打分", "value":"4.695"}], "stat_total":[{"item":"累计学员", "value":55948, "unit":"人次"}, {"item":"累计培训", "value":7238, "unit":"次"}, {"item":"培训课程", "value":2292, "unit":"种"}], "updatedAt":"2019年3月6日", "rangeDuring":"2018年4月～2019年3月"}');

  displayStat(cmts);

  var less = JSON.parse('{"lessons":[{"title":"UI设计培训课程-BS架构", "teacher":"john@example.com", "date":"2019年3月8日"},{"title":"MS System Center 2012", "teacher":"mary@example.com", "date":"2019年3月28日"},{"title":"软件开发培训课程-C++快速入门", "teacher":"july@example.com", "date":"2019年3月29日"}]}');

  displayLessons(less);
}
</script>

</body>
</html>
